---
import { cn } from '@common';

export interface Props {
  title?: string; // The title of the card
  type: 'primary' | 'text'; // The type of the card
  href?: string; // The URL to link to
  icon?: string; // The main icon to display
  corner?: string; // The corner icon to display
  helper?: string; // The helper text to display
  helperIcon?: string; // The helper icon to display next to the helper text
  colSpan?: string;
  rowSpan?: string;
  class?: string;
}

const {
  colSpan = 'col-span-2',
  rowSpan,
  class: className,
  title,
  type,
  href,
  icon,
  corner,
  helper,
  helperIcon,
} = Astro.props;

const baseClasses = cn(
  'rounded-3xl p-6 overflow-hidden col-span-2 h-auto w-full backdrop-blur-sm border border-white/20 bg-white/10',
  colSpan,
  rowSpan,
  className
);
---

<a class={baseClasses} role={href ? 'link' : 'article'} href={href || undefined}>
  {
    type === 'text' ? (
      <slot />
    ) : (
      <>
        {corner && <img class="absolute right-4 top-4 size-20" src={corner} alt="" />}

        <img class="size-40" src={icon} alt="" />
        <h2 class="text-3xl font-bold">{title}</h2>
        <div class="flex items-center gap-2">
          {helperIcon && <img class="size-8" src={helperIcon} alt="" />}
          <p class="text-base font-semibold ">{helper}</p>
        </div>
      </>
    )
  }
</a>
