---
import '@fontsource/lato';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <!-- Global Metadata -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="https://jsvenezuela.org/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- Primary Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta
      name="description"
      content="JavaScript Venezuela, un punto de encuentro para todos aquellos interesados en el vasto mundo de la tecnología, con un enfoque especial en JavaScript y áreas relacionadas."
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta
      property="og:description"
      content="JavaScript Venezuela, un punto de encuentro para todos aquellos interesados en el vasto mundo de la tecnología, con un enfoque especial en JavaScript y áreas relacionadas."
    />
    <meta property="og:image" content=`https://jsvenezuela.org/thumbnail.svg` />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta
      property="twitter:description"
      content="JavaScript Venezuela, un punto de encuentro para todos aquellos interesados en el vasto mundo de la tecnología, con un enfoque especial en JavaScript y áreas relacionadas."
    />
    <meta property="twitter:image" content="https://jsvenezuela.org/thumbnail.svg" />
  </head>
  <body class="bg-black font-sans text-neutral-50">
    <slot />
  </body>
</html>
